h1 {
    color: rgb(19, 3, 3);
    text-align: center;
    padding: 10px;
}

table {
    table-layout: auto;
    border: none
}
  

th {
    border:solid 1px rgb(11, 11, 12);
    background-color: #0d09e0;
    color: white;
    height: 40px;
  }

td {
    border:solid 1px rgb(190, 170, 255); 
    word-wrap:break-word;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 12px;
    background-color: #041a2d;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

#top {
    top: -40px;
    left: -50%;
}

#bottom {
    top: 25px;
    left: -50%;
}

#left {
    top: -8px;
    right: 120%;
}

#right {
    top: -8px;
    left: 120%;
}

.hover-text {
    position: relative;
    display: inline;
    font-family: Avenir;
}   

.myChartDiv {/*ww  w  .  j  a v  a2s  .co  m*/
    width: 200px;
    height: 200px;
    text-align: center;
 }

 .myChartCanvas {
    display: inline;
 }
