{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Report Management {% endblock %}</h1>
    <table > 
        <tr><th>Report</th><th>Date</th><th>Edit</th><TH>Analyse</TH><TH>Delete</TH></tr>
    {% for post in posts %}        
        <tr>
            <td>
                <a href="{{ url_for('contract_view', post_id=post['id']) }}">
                    {{ post['title'] }}
                </a> 
            </td>
            <td>
                <span class="badge badge-primary">{{ post['created'] }}</span>
            </td>
            <td>
                <a href="{{ url_for('contract_edit', id=post['id']) }}">
                    <input type="submit" value="Edit"
                            class="btn btn-danger btn-sm" >
                </a>
                <TD>
                <form action="{{ url_for('contract_analyse', id=post['id']) }}" method="POST">
                    <input type="submit" value="Analyse"
                            class="btn btn-danger btn-sm" >
                </form>
            </TD>
            <TD>
                <form action="{{ url_for('contract_delete', id=post['id']) }}" method="POST">
                    <input type="submit" value="Delete"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to delete this post?')">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
