{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Contract Mgmt. {% endblock %}</h1>
    <table border="1"> <tr><th>Contract</th><th>Date</th><th>Edit</th><th>Analysis</th></tr>
    {% for post in posts %}        
        <tr>
            <td>
                <a href="{{ url_for('contract_view', post_id=post['id']) }}">
                    <h4>{{ post['title'] }}</h4>
                </a> 
            </td>
            <td>
                <span class="badge badge-primary">{{ post['created'] }}</span>
            </td>
            <td>
                <a href="{{ url_for('contract_edit', id=post['id']) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </td>
            <td>
                <form action="{{ url_for('contract_analyse', id=post['id']) }}" method="POST">
                    <input type="submit" value="Analyse"
                            class="btn btn-danger btn-sm" >
                </form>

            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
