{% extends 'base-index.html' %}
{% block content %}
<h1>{% block title %} Report Analysis {% endblock %}</h1>

{% autoescape false %}
    <h4 align="center">Report Name : {{ post['title'] }} </h4> 
    <h4 align="center">Report Risk Score : {{ post['score_report_json']['score_report_risk_score'] }}% </h4>
    <h4 align="center">Report Risk Analytics : </h4>
    <div align="center">
    <table> 
        <tr align="center">                
            <td><b>Document Risk Chart:</b> <div class="myChartDiv"><canvas id="Context_Gauge_Chart"></canvas></div></td>
            <td><b>Context Count Chart:</b> <div class="myChartDiv"><canvas id="Context_Count_Chart"></canvas></div></td>
            <td><b>Presence Count Chart:</b> <div class="myChartDiv"><canvas id="Presence_Count_Chart"></canvas></div></td>
            <td><b>Class Strength Chart:</b> <div class="myChartDiv"><canvas id="Class_Strength_Chart"></canvas></div></td>
        </tr>
    </table>
    </div>    
    <h4 align="center">Processed Report : </h4>
    {% for hl_obj in post['highlight_response'] %}
        <script> 
            var label = "{{ hl_obj['label'] }}" 
        </script>
        {% if hl_obj['flag'] == 'HIGH' %}
            <div class="hover-text"><mark style="color: white; background-color: crimson;"><span onclick="submitFORM('/training_new', 'POST', label, this.textContent)"> {{ hl_obj['c_sentence'] }} 
                </span><span class="tooltip-text">Label : {{ hl_obj['label'] }}; Risk : {{ hl_obj['flag'] }}; 
                    Presence Score : {{ hl_obj['p_score'] }}%; Context Score : {{ hl_obj['c_score'] }}%; Risk Score : {{ hl_obj['risk_score'] }}%</span></mark></div>
        {% elif hl_obj['flag'] == 'MEDIUM' %}
            <div class="hover-text"><mark style="color: white; background-color: darkorange;"><span onclick="submitFORM('/training_new', 'POST', label, this.textContent)"> {{ hl_obj['c_sentence'] }} 
                </span><span class="tooltip-text">Label : {{ hl_obj['label'] }}; Risk : {{ hl_obj['flag'] }}; 
                    Presence Score : {{ hl_obj['p_score'] }}%; Context Score : {{ hl_obj['c_score'] }}%; Risk Score : {{ hl_obj['risk_score'] }}%</span></mark></div>
        {% elif hl_obj['flag'] == 'LOW' %}
            <div class="hover-text"><mark style="color: black; background-color: gold;"><span onclick="submitFORM('/training_new', 'POST', label, this.textContent)"> {{ hl_obj['c_sentence'] }} 
                </span><span class="tooltip-text">Label : {{ hl_obj['label'] }}; Risk : {{ hl_obj['flag'] }}; 
                    Presence Score : {{ hl_obj['p_score'] }}%; Context Score : {{ hl_obj['c_score'] }}%; Risk Score : {{ hl_obj['risk_score'] }}%</span></mark></div>
        {% else %}
            <div class="hover-text"><mark style="color: black; background-color: white;"><span onclick="submitFORM('/training_new', 'POST', label, this.textContent)"> {{ hl_obj['c_sentence'] }} 
            </span><span class="tooltip-text">Label : {{ hl_obj['label'] }}; Risk : {{ hl_obj['flag'] }}; 
                Presence Score : {{ hl_obj['p_score'] }}%; Context Score : {{ hl_obj['c_score'] }}%; Risk Score : {{ hl_obj['risk_score'] }}%</span></mark></div>
        {% endif %}

    {% endfor %}
    <br>
    <div align="center">
    <table><tr><td>
        <b>Risk Legends: </b>
        <table><tr align="center">
            <td><mark style="color: white; background-color: crimson;">High</mark></td>
            <td><mark style="color: white; background-color: darkorange;">Medium</mark></td>
            <td><mark style="color: black; background-color: gold;">Low</mark></td>
            <td><mark style="color: black; background-color: white;">NA</mark></td>
            </tr>
        </table>
    </td>
    <td><b>Machine Learning: </b> If you find prediction to be correct, kindly click on them to make system learn. </td>
    </tr></table>
    </div>
    <br><b>Date : </b>{{ post['created'] }}
    <br><b>User : </b>{{ post['userid'] }}
    <br><b>Message: </b> <span id="MSG"></span>
    <br><br><br><br><br><br><br><br><br>
    <script>
        function submitFORM(path, method, label, content) {
            //event.preventDefault();
            formdata = {}
            formdata['label'] = label
            formdata['content'] = content
            let url = "/training_new";
            $.ajax({
                type: "POST",
                url: url,
                data: formdata
            }).done(function(msg) {                    
                // When the request is successful
                $('#MSG').text('Training data is successfully created.');
            }).fail(function(err, textstatus, error) {
                $('#MSG').text(textstatus);
            });
        }
    </script>
    <script>
        const ctx1 = document.getElementById('Context_Gauge_Chart');      
        new Chart(ctx1, {
          type: 'doughnut',
          data: {
            labels: ["High Risk", "Low Risk"],
            datasets: [{
                label: 'Document Risk Score',  
                data: [parseInt("{{ post['score_report_json']['score_report_risk_score'] }}"), parseInt("{{ (100 - post['score_report_json']['score_report_risk_score']) }}")],
                backgroundColor: ["Red", "Green"]
            }]
         },
         options: {
            rotation: 270, // start angle in degrees
            circumference: 180, // sweep angle in degrees
            }
        });

        const ctx3 = document.getElementById('Context_Count_Chart');      
        new Chart(ctx3, {
          type: 'doughnut',
          data: {
            labels: ["High", "Medium", "Low"],
            datasets: [{
                label: 'Context Count:', 
                data: [parseInt("{{ post['score_context_count_json']['score_context_high_count'] }}"), parseInt("{{ post['score_context_count_json']['score_context_medium_count'] }}"), parseInt("{{ post['score_context_count_json']['score_context_low_count'] }}")],
                backgroundColor: ["Red", "Yellow", "Green"]
            }]
         }
        });

        const ctx4 = document.getElementById('Presence_Count_Chart');    
        var label_keys = "{{ post['score_presence_count_json']['label_keys'] }}";
        var label_values = "{{ post['score_presence_count_json']['label_values'] }}";

        let leng1 = label_keys.length;
        let result1 = label_keys.substring(1, leng1 - 1);
        var text1 = result1.split(", ");

        let leng2 = label_values.length;
        let result2 = label_values.substring(1, leng2 - 1);
        var text2 = result2.split(", ");

        var label_k = []
        var label_v = []
        for (i=0;i<text2.length; i++) {            
            label_k.push(text1[i]) // .substring(1, (text1[i].length - 1))
            label_v.push(parseInt(text2[i]) )
        }

        new Chart(ctx4, {
          type: 'doughnut',
          data: {
            labels: label_k,
            datasets: [{
                label: 'Presence Count:', 
                data: label_v,
            }]
         }
        });

        const ctx5 = document.getElementById('Class_Strength_Chart');    
        var label_keys = "{{ post['class_analysis_key'] }}";
        var label_values = "{{ post['class_analysis_value'] }}";

        let leng11 = label_keys.length;
        let result11 = label_keys.substring(1, leng11 - 1);
        var text1 = result11.split(", ");

        let leng22 = label_values.length;
        let result22 = label_values.substring(1, leng22 - 1);
        var text2 = result22.split(", ");

        var label_k = []
        var label_v = []
        for (i=0;i<text2.length; i++) {            
            label_k.push(text1[i]) // .substring(1, (text1[i].length - 1))
            label_v.push(parseInt(text2[i]) )
        }

        console.log(label_keys)
        console.log(label_values)
        new Chart(ctx5, {
          type: 'bar',
          data: {
            labels: label_k,
            datasets: [{
                label: 'Class Risk:', 
                data: label_v,
            }]
         }
        });
    </script>
{% endautoescape %}
{% endblock %}
