{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Learning DB Addition {% endblock %}</h1>

{% autoescape false %}
    <h4>Keywords : {{ post['keywords'] }} </h4>
    <h4>Statements : </h4>{{ post['statements'] }} 
    <br><b>Date : </b>{{ post['created'] }}
{% endautoescape %}

<table > <tr><th>Contract</th><th>Date</th><th>Action</th></tr>
    {% for post in posts %}
        <tr>
            <td>
                <a href="{{ url_for('post', post_id=post['id']) }}">
                    <h4>{{ post['title'] }}</h4>
                </a> 
            </td>
            <td>
                <span class="badge badge-primary">{{ post['created'] }}</span>
            </td>
            <td>
                <a href="{{ url_for('edit', id=post['id']) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{{ url_for('improve_list', post_id=post['id']) }}">
    <h4>View Improve List </h4>
</a>
{% endblock %}
