{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Learning Mgmt. {% endblock %}</h1>
    <table border="1"> <tr><th>Keywords</th><th>Content</th><th>Label</th></tr>
    {% for post in posts %}
        <tr>
            <td>
                <span class="badge badge-primary">{{ post['keywords'] }}</span>
            </td>
            <td>
                <span class="badge badge-primary">{{ post['content'] }}</span>
            </td>
            <td>
                <span class="badge badge-primary">{{ post['label'] }}</span>
            </td>
            <td>
                <form action="{{ url_for('seed_data_delete', id=post['id']) }}" method="POST">
                    <input type="submit" value="Delete"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to delete this post?')">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
